.titel {

    text-align: center;
    margin: 50px;
    padding: 5px;


}



.buch3 {

    height: 750px;
    width: 1250px;
    border: solid 1px goldenrod;
    border-radius: 0 0 0 0;
    top: 175px;
    left: 350px;
    position: absolute;
    z-index: 1;
}

.pfeilrechts {
    display: flex;
    height: 40px;
    width: 65px;
    position: absolute;
    top: 850px;
    left: 1475px;
    z-index: 3;
}

.pfeillinks1 {
    display: flex;
    height: 40px;
    width: 65px;
    position: absolute;
    top: 645px;
    left: 1px;
    z-index: 3;
}

.pfeilrechts1 {
    display: flex;
    height: 40px;
    width: 65px;
    position: absolute;
    top: 650px;
    left: 1050px;
    z-index: 3;
}

.pfeillinks {
    display: flex;
    height: 40px;
    width: 65px;
    position: absolute;
    top: 850px;
    left: 420px;
    z-index: 3;
}


.navi {
display: flex;
    flex-direction: column;
    height: 500px;
    width: 150px;
    top: 200px;
    left: 83px;
    position: absolute;
    border: solid 2px goldenrod;
    border-radius: 0px 0px 45px 45px;
    font-size: 32px;
    z-index: 2;
}

.navi1 {
display: flex;
    flex-direction: column;
    height: 500px;
    padding-top: 75px;
    width: 150px;
    top: 200px;
    left: 83px;
    position: absolute;
    border: solid 2px goldenrod;
    border-radius: 0px 0px 45px 45px;
    font-size: 32px;
    z-index: 2;
}

.navi2 {

    flex-direction: column;
    height: 500px;
    padding-top: 75px;
    width: 150px;
    top: 200px;
    left: 83px;
    position: absolute;
    border: solid 2px goldenrod;
    border-radius: 0px 0px 45px 45px;
    font-size: 32px;
    z-index: 2;
}

.navbar {
display: flex;
    height: 800px;
    width: 240px;
    top: 130px;
    left: 30px;
    position: absolute;
    z-index: 1;
}

.navbar1 {
display: flex;
    height: 800px;
    width: 240px;
    top: 130px;
    left: 30px;
    position: absolute;
    z-index: 1;
}

.bild {

    border: solid 2px goldenrod;
    padding: 1px;
    position: absolute;
    left: 410px;
    border-radius: 0px 90px 0px 90px;
    top: 220px;
    height: 200px;
    width: 200px;
    z-index: 2;

}



.item {

    padding: 5px;
    margin: 5px;
    font-size: 14px;
    font-family: 'Impact';

}

.textr {

    text-align: left;
    float: right;
    left: 1025px;
    position: absolute;
    top: 250px;
    width: 450px;
    font-size: 16px;
    font-family: 'Verdana';
    z-index: 2;

}

.textl {

    text-align: left;
    position: absolute;
    float: right;
    left: 400px;
    top: 205px;
    width: 250px;
    font-size: 16px;
    font-family: 'Verdana';
    z-index: 2;
}

.textr1 {

    text-align: left;
    float: right;
    left: 600px;
    position: absolute;
    top: 0px;
    width: 520px;
    font-size: 16px;
    font-family: 'Verdana';
    z-index: 2;

}

.textl1 {

    text-align: left;
    position: absolute;
    float: right;
    left: 425px;
    top: 200px;
    width: 400px;
    font-size: 16px;
    font-family: 'Verdana';
    z-index: 3;
}

.textl2 {
    position: absolute;
    float: right;
    left: 435px;
    top: 550px;
    width: 300px;
    font-size: 16px;
    font-family: 'Verdana';
    z-index: 3;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Holz3.jpg");
    background-size: 35%;

}

.cover {
    display: flex;
    height: 1000px;
    width: 750px;
    top: 20px;
    left: 600px;
    position: absolute;
    z-index: 1;

}

.cover1 {
    display: flex;
    height: 1000px;
    width: 750px;
    top: 10px;
    left: 600px;
    position: absolute;
    z-index: 1;

}

.Schrift {
   
    font-size: 45px;
    font-family: 'Calibri';
    color: goldenrod;
    top: 300px;
    left: 750px;
    position: absolute;
    z-index: 2;
}


.Schrift1 {
   
    height: 100px;
    width: 400px;
    font-size: 36px;
    font-family: 'Calibri';
    color: goldenrod;
    top: 200px;
    left: 750px;
    position: absolute;
    z-index: 2;
}