.titel {

    text-align: center;
    margin: 50px;
    padding: 5px;


}



.buch3 {

    height: 750px;
    width: 1250px;
    border: solid 1px goldenrod;
    border-radius: 0 0 0 0;
    top: 175px;
    left: 350px;
    position: absolute;
    z-index: 1;
}

.pfeilrechts {
    display: flex;
    height: 40px;
    width: 65px;
    position: absolute;
    top: 850px;
    left: 1475px;
    z-index: 3;
}

.pfeillinks1 {
    display: flex;
    height: 40px;
    width: 65px;
    position: absolute;
    top: 645px;
    left: 1px;
    z-index: 3;
}

.pfeilrechts1 {
    display: flex;
    height: 40px;
    width: 65px;
    position: absolute;
    top: 650px;
    left: 1050px;
    z-index: 3;
}

.pfeillinks {
    display: flex;
    height: 40px;
    width: 65px;
    position: absolute;
    top: 850px;
    left: 420px;
    z-index: 3;
}


.navi {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 150px;
    top: 200px;
    left: 83px;
    position: absolute;
    border: solid 2px goldenrod;
    border-radius: 0px 0px 45px 45px;
    font-size: 32px;
    z-index: 2;
}

.navi1 {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding-top: 75px;
    width: 150px;
    top: 200px;
    left: 83px;
    position: absolute;
    border: solid 2px goldenrod;
    border-radius: 0px 0px 45px 45px;
    font-size: 32px;
    z-index: 2;
}

.navi2 {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding-top: 75px;
    width: 150px;
    top: 200px;
    left: 83px;
    position: absolute;
    border: solid 2px goldenrod;
    border-radius: 0px 0px 45px 45px;
    font-size: 32px;
    z-index: 2;
}

.navbar {
    display: flex;
    height: 800px;
    width: 240px;
    top: 130px;
    left: 30px;
    position: absolute;
    z-index: 1;
}

.navbar1 {
    display: flex;
    height: 800px;
    width: 240px;
    top: 130px;
    left: 30px;
    position: absolute;
    z-index: 1;
}

.bild {

    border: solid 2px goldenrod;
    padding: 1px;
    position: absolute;
    left: 410px;
    border-radius: 0px 90px 0px 90px;
    top: 220px;
    height: 200px;
    width: 200px;
    z-index: 2;

}



.item {

    padding: 5px;
    margin: 5px;
    font-size: 14px;
    font-family: 'Impact';

}

.textr {

    text-align: left;
    float: right;
    left: 1025px;
    position: absolute;
    top: 200px;
    width: 450px;
    font-size: 16px;
    font-family: 'Verdana';
    z-index: 2;

}

.textl {

    text-align: left;
    position: absolute;
    float: right;
    left: 400px;
    top: 200px;
    width: 250px;
    font-size: 16px;
    font-family:'Verdana';
    z-index: 2;
}

.textr1 {

    text-align: left;
    float: right;
    left: 600px;
    position: absolute;
    top: 0px;
    width: 520px;
    font-size: 16px;
    font-family: 'Verdana';
    z-index: 2;

}

.textl1 {

    text-align: left;
    position: absolute;
    float: right;
    left: 425px;
    top: 200px;
    width: 400px;
    font-size: 16px;
    font-family: 'Verdana';
    z-index: 3;
}

.textl2 {
    position: absolute;
    float: right;
    left: 435px;
    top: 550px;
    width: 300px;
    font-size: 16px;
    font-family: 'Verdana';
    z-index: 3;
}

body {
 
    background-image: url("../images/Holz3.jpg");
    background-size: 35%;
    z-index: 0;

}

.cover {
    display: flex;
    height: 1000px;
    width: 750px;
    top: 20px;
    left: 600px;
    position: absolute;
    z-index: 1;

}

.cover1 {
    display: flex;
    height: 1000px;
    width: 750px;
    top: 10px;
    left: 600px;
    position: absolute;
    z-index: 1;

}

.Schrift {

    font-size: 45px;
    font-family: 'adorable';
    color: goldenrod;
    top: 300px;
    left: 750px;
    position: absolute;
    z-index: 2;
}


.Schrift1 {

    height: 100px;
    width: 400px;
    font-size: 36px;
    font-family: 'adorable';
    color: goldenrod;
    top: 200px;
    left: 750px;
    position: absolute;
    z-index: 2;
}

.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 45px;
    font-family: 'Calibri';
    border: solid 3px goldenrod;
    border-radius: 30px 30px 160px 160px;
    height: 450px;
    width: 450px;
    color: goldenrod;
    top: 250px;
    left: 750px;
    position: absolute;
    z-index: 2;
    padding: 25px;
    margin: 5px;
}

button {
    height: 25px;
    width: 95px;
    background-color: goldenrod;
    font-size: 15px;
    margin: 10px;

}

.buttongrp {
    display: flex;
    flex-direction: row;

}

.feet {
    text-align: center;
    width: 100%;
    position: absolute;
    padding: 3px;
    color: black;
    border-top: solid 1px black;
    bottom: 0;
    background-image: url("");
    border-radius: 90px 90px 0 0;
}

.zettel1{

    text-align: center;
width: 550px;
    height: 450px;
    border: thin 1px black;
    position: absolute;
    right: 50px;
    top: 300px;
    left: 1350px;
    z-index: 4;
}

.notiz{
    text-align: left;
    font-family: 'adorable';
    width: 650px;
    height: 550px;
    position: absolute;
    top: 455px;
    left: 1500px;
    z-index: 5;
    
}

.wrapper{
    display: inline-flex;
    list-style: none;
}

.wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: all 0.2s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .tooltip{
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .tooltip::before{
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .icon:hover .tooltip{
top: -45px;
opacity: 1;
visibility: visible;
pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before{
    background: #333333;
    color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before{
    background: #CD201F;
    color: #ffffff;
}